* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.45) rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.4);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.6);
}

.hidden {
    display: none !important;
}

body {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    background-image: url(assets/wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: hidden;
    font-family: sans-serif;
}

.panels_div {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.version_manager {
    height: 70vh;
    width: 300px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.833);
    border-radius: 8px;
    overflow-y: auto;
    padding: 30px;
    text-align: center;
}

.main_div {
    flex: 1;
    height: 70vh;
    margin: 20px;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.833);
    border-radius: 8px;
    overflow-y: scroll;
    padding: 30px;
}

.info_div {
    flex: 1;
}

.info_div img {
    height: 100px;
    width: 100px;
}

#button {
    width: 270px;
    height: 70px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 34px;
    background: linear-gradient(
        270deg,
        #7315ff,
        rgb(255, 73, 73),
        #2d31ff,
        #e852ff
        
    );
    background-size: 400% 400%;
    animation: rainbowMove 6s linear infinite;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

@keyframes rainbowMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.divider {
    height: 2px;
    width: 90%;
    background-color: gray;
    margin: 20px;
}

#bottom_tools {
    background-color: rgba(29, 29, 29, 0.947);
    position: fixed;
    display: flex;
    gap: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

#settingsbtn {
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 35px;
    transition: transform 0.3s ease;
    color: white;
    background-color: rgb(64, 64, 64);
    font-size: 16px;
}

#settings_div button {
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 35px;
    transition: transform 0.3s ease;
    color: white;
    background-color: rgb(64, 64, 64);
    font-size: 16px;
}

#settings_div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}