/*Terminal*/
.content_terminal {
    font-family: 'JetBrains Mono', monospace;
    font-size: 12px;
    overflow-y: scroll;
    line-height: 1.2;
}

.content_terminal p {
    margin: 0;
}

#terminalin {
    outline: none;
    border: none;
    background: transparent;
    font-size: 12px;
    color: white;
    width: 100%;
}

#terminalinDiv {
    display: flex;
    flex-direction: row;
    gap: 1px;
}